html,
body {
    height: 100%;
}
body,
#root {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 62.5%;
}
main {
    flex: 1;
    display: flex;
}

a:link,
a:visited {
    text-decoration: none;
    color: #000;
}
