@font-face {
    font-family: 'JejuGothic';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.ttf') format("truetype");
    font-display: swap;
}

.minititle{
    color: #7978cd;
}


.Board{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.BoardSize{
    font-family: 'JejuGothic';
    display: flex;
    width : 85%;
    flex-direction: column;
    height: 700px;
}

.Board__header,
.Board__navbar,
.Board__content--title,
.Board__content--content,
.Board__footer,
.Board__page{
    display: flex;
    width: 100%;
}

.Board__header{
    font-size: large;
}

.Board__navbar{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    align-content: center;
    justify-content: space-between;
}


.Board__search{
    display: flex;
    flex-direction: row;
}

.Board__search--button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 28px;
    background-color: #8F8DE7;   
}


.Board__search--button:hover,
.Board__footer--button:hover,
.Board__update--button:hover,
.Board__delete--button:hover{
    opacity: 80%;
    cursor : pointer;
}

.Board__content--title{
    display: flex;
    border-top: 1px solid #000;
    border-bottom: 1px solid #b2bec3;
    background-color : #d6d6f5;
}

.Board__content--content{
    display: flex;
    border-bottom: 1px solid #b2bec3;
}


.Board__content--number,
.Board__content--name,
.Board__content--writer,
.Board__content--date,
.Board__content--hits{
    margin-top: 15px;
    margin-bottom: 15px;
}



.Board__content--number{
    width: 8%;
}

.Board__content--name{
    width : 60%;
    cursor : pointer;
}

.Board__content--writer{
    width: 14%;
}

.Board__content--date{
    width: 12%;
}

.Board__content--hits{
    width: 8%;
}

.Board__footer{
    display: flex;
    height: 28px;
    justify-content: flex-end;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
}
.Board__footer--button{
    display: flex;
    background-color: #8F8DE7;   
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 80px;
}

.Board__page{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10%;
}

.Board__page--button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 35px;
    height: 30px;
    font-size: small;
    border-radius: 3px;  
    text-decoration-line: none;
}

.Board__page--button:hover{
    background-color: #b2bec3;
    cursor : pointer;
}

/*---------------EditBoard----------------*/

.Board__writecontainer{
    display: flex;
    margin-top: 2%;
    background-color: #eceff5d8;
    border:solid 1.2px #c5c8ccd8 ;
    width: 100%;
    height: 90%;
    border-radius: 20px;
    flex-direction: column;
    align-items: left;
}

/*정보 공유 게시판*/
.Board__writecontainer--head{
    display: flex;
    font-size:x-large;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
}

/*제목, id, pw*/
.Board__writecontainer--info{
    display: flex;   
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-left: 5%;
    
}

.Board__writecontainer--detail{
    display: flex;   
    align-items: left;
    justify-content: left;
    margin-top: 0.5%;
    margin-bottom: 1%;
    border-radius: 5px;
}

.Board__writecontainer--content{
    display: flex;
    background-color: white;
    margin-right: 5%;
    width: 80%;
    height: 100px;
    border-radius: 5px;
    max-height: 200px;
}


/*이 부분은 오빠가 만들어놓은거*/
.Board__writecontainer--title,
.Board__writecontainer--id,
.Board__writecontainer--password{
    display: flex;
    background-color: white;
    border-radius: 5px;
    width: 30%;
    height: 30px;
    border-color: #b2bec3;
}








/*---------------- ViewBoard -----------------*/
.Board__info,
.BRD_WRITER,
.BRD_WT_TIME,
.BRD_LOOKUP,
.BRD_title,
.BRD_content,
.Board__viewcontainer{
    display: flex;
}


.Board__update--button,
.Board__delete--button{
    display: flex;
    background-color: #8F8DE7;   
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 80px;
}

.Board__info{
    justify-content: right;
    width: 100%;
}

.BRD_WRITER,
.BRD_WT_TIME{
    border-right: dotted 1.5px rgb(62, 62, 62);
}

/*제목*/
.BRD_title{
    font-size: 25px;
    background: #c8c8f8c5;
    height: 50px;
    border-top: solid 2px rgb(109, 108, 108);
    border-bottom: solid 1.5px rgb(150, 149, 149);
    align-items: center;
    justify-content : center;
    margin-top: 1%;

    
}

/*내용*/
.BRD_content{
    width: 100%;
    font-size: 17px;
    justify-content : center;
    border: solid 2px #E5E7EB;
    background-color:#f2f2f2 ;
    align-items: center;
    height: 500px;
}