@font-face {
    font-family: 'JejuGothic';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.ttf') format("truetype");
    font-display: swap;
}



.contentsPage-img{
    display: flex;
    width: 100%;
    height: 580px;
    margin-bottom: 30px;
}

.contentsPage__textbox{
    font-family: 'JejuGothic';
    font-size : small;
    width : 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: 20px;
}

.contentsPage__textbox-text{
    width : 75%;
    display: flex;
}