@font-face {
    font-family: 'JejuGothic';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.ttf') format("truetype");
    font-display: swap;
}

.section{ 
    font-family: 'JejuGothic';
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 70vh;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    border: dashed; /* 보더 수정 예정 */
}

.section__button{
    display: flex;
    justify-content: center;
    text-align: center;
}

.section__text{
    margin-top: 180px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.upload__button{
    padding: 6px 25px;
    background-color:#c8c8f8;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    cursor : pointer;
  }

  .pdf__position
{
    background-color: #e5e5fdba;
    width: 250px;
    margin: auto;   
    color: #2c2c2cdf;
    padding: 10px 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    
}

.graduation__check--button{
    background-color: #c8c8f8;
    width: 250px;
    margin: auto;   
    color: #2c2c2cdf;
    padding: 10px 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}