@font-face {
    font-family: 'JejuGothic';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.eot?#iefix')
            format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.woff2')
            format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.woff')
            format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.ttf')
            format('truetype');
    font-display: swap;
}

/*section : 점선 안쪽 부분*/
.section {
    font-family: 'JejuGothic';
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 75vh;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border: dashed; /* 보더 수정 예정 */
    max-width: 100%;
    height: auto !important;
    border-color: rgba(0, 0, 0, 0.5);
}

.section__button {
    display: flex;
    justify-content: center;
    text-align: center;
}

/*'당신은 졸업이 가능한가요?, 교양과목 정보 외의 인적사항 ...'*/
.section__text {
    font-size: large;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

/*pdf 업로드 버튼*/
.upload__button {
    padding: 6px 25px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background: #c8c8f8;
    margin-bottom: 20px;
    transition: all 0.2s;
    display: block;
    position: relative;
}

.upload__button:hover {
    background: #9e9eece3;
}
/*pdf 위치 설명*/
.pdf__position {
    background-color: #e5e5fdba;
    width: 250px;
    margin: auto;
    margin-bottom: 10vh;
    color: #2c2c2cdf;
    padding: 10px 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.pdf__position--text {
    display: flex;
    width: 100%;
    margin-bottom: 7px;
}
.pdf__position--text ~ a:hover {
    color: #ffb02e;
}
.text-header {
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}
/* '결과조회' 영역 */
.GraduateOk__footer {
    margin-bottom: 80px;
}

/* '결과조회' 버튼 */
.graduation__check--button {
    background-color: #c8c8f8;
    width: 250px;
    margin: auto;
    color: #2c2c2cdf;
    padding: 10px 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.Graduate__check {
    font-family: 'JejuGothic';
    text-align: center;
}

.Graduate {
    font-size: x-large;
    font-weight: 300;
    text-align: center;
}

/*졸업요건 확인 테이블*/
.OkTable {
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 8vh;
    line-height: 30px;
}

/*th*/
.Ok__menu {
    background-color: #bfdefc96;
}

/*td*/
.Lack__Graduate__Credit,
.Lack__MajorCredit,
.Lack__KyCredit,
.Lack__NonSub,
.Lack__mileage {
    vertical-align: middle;
    border: 1px solid #a79d9d;
    width: 20%;
}

/*부족한 졸업 요건*/
.Graduate_lack {
    color: red;
    font-size: medium;
    font-weight: 300;
    text-align: center;
    margin-bottom: 5vh;
    white-space: pre-wrap;
    line-height: 1.5;
}

.text-color {
    color: #b2bec3;
    font-size: small;
}
