.header {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0.8rem;
    margin-top: 1.2rem;
}
/* @media (max-width: 1200px) {
    .contentsPage-img {
        height: 10rem;
    }
} */
@media (max-width: 768px) {
    .header-img {
        width: 12rem;
    }
}
