@font-face {
    font-family: 'JejuGothic';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.eot?#iefix')
            format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.woff2')
            format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.woff')
            format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.ttf')
            format('truetype');
    font-display: swap;
}

.KyTableWrapper {
    display: flex;
    width: 90%;
    max-height: 60vh;
    overflow-y: scroll;
    text-align: center;
}

.main {
    display: flex;
    width: 100%;
    height: 70vh;
    font-family: 'JejuGothic';
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    width: 100%;
    font-size: large;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.rightBar {
    display: flex;
    margin-left: 70%;
}
/*교양 테이블*/
.KyTable {
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    counter-reset: numbering;
}

.menu {
    text-align: center;
    font-size: 1rem;
    height: 2.5rem;
    background-color: #d6d6f5;
}

/*교양 테이블 th*/
.grade_table_th {
    vertical-align: middle;
    border-left: 1px solid #a79d9d;
    border-right: 1px solid #a79d9d;
    border-bottom: 1px solid #a79d9d;
    position: sticky;
    top: 0px;
    background-color: #d6d6f5 !important;
}

/*교양 테이블 td*/
.grade_table_td {
    vertical-align: middle;
    font-size: 0.9rem;
    height: 2rem;
    border-left: 1px solid #a79d9d;
    border-right: 1px solid #a79d9d;
    border-bottom: 1px solid #a79d9d;
}

/*짝수번 색상구분*/
.KyRecommendWrapper:nth-child(2n + 1) {
    background-color: #f4f4f4;
}

/*순위*/
.rank_width {
    width: 12%;
}

/*과목명*/
.name_width {
    width: 35%;
}

/*교양 인재상*/
.ky_width {
    width: 16%;
}

/*핵심 역량*/
.core_width {
    width: 16%;
}

/*학점*/
.gradenum_width {
    width: 8%;
}

/*수강횟수*/
.num_width {
    width: 12%;
}

.KyTable .KyRecommendWrapper .rank_width:before {
    counter-increment: numbering;
    content: counter(numbering);
}
