@font-face {
    font-family: 'JejuGothic';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.eot?#iefix')
            format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.woff2')
            format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.woff')
            format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.ttf')
            format('truetype');
    font-display: swap;
}

.MainPage--box {
    width: 100%;
    height: 100%;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.contentsPage-img {
    display: flex;
    width: 100%;
    max-width: 1700px;
    margin: auto;
    height: 45rem;
    margin-bottom: 4rem;
}

/* @media (max-width: 1200px) {
    .contentsPage-img {
        height: 10rem;
    }
} */
@media (max-width: 768px) {
    .contentsPage-img {
        height: 40rem;
    }
}
