@font-face {
    font-family: 'yg-jalnan';
    src: url('../fonts/Jalnan.ttf');
}

@font-face {
    font-family: 'JejuGothic';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.eot?#iefix')
            format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.woff2')
            format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.woff')
            format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.ttf')
            format('truetype');
    font-display: swap;
}

.navbar {
    font-family: 'JejuGothic';
    font-weight: lighter;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 55%;
    margin: auto;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    font-size: 1.3rem;
}

.navbar__nav:after {
    display: block;
    content: '';
    border-bottom: solid 0.04rem #000;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
}
.navbar__nav:hover::after {
    transform: scaleX(1);
}
.navbar__nav:hover {
    cursor: pointer;
}

.navbar__nav {
    margin: auto;
}

@media (max-width: 1200px) {
    .navbar {
        font-size: 1rem;
    }
    /* .navbar__nav:after{
    } */
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }
}
