@font-face {
    font-family: "yg-jalnan";
    src: url("../fonts/Jalnan.ttf");
  }
  
  @font-face {
    font-family: 'JejuGothic';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.ttf') format("truetype");
    font-display: swap;
}

.navbar{
    font-family: 'JejuGothic';
    font-weight: lighter;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 55%;
    height: 60px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 23px;
}

/* .navbar > div:hover{
    border-bottom: 2px solid #000;
    transition: all 250ms ease-in-out;

} */

.navbar > div:after{
    display: block;
    content: '';
    border-bottom: solid 2px #000;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
}
.navbar > div:hover::after{
    transform: scaleX(1);
}

.navbar__nav{
    margin: auto;
}


